.wrapper {
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita scroll */

  position: relative; /* Para posicionar el video de fondo */
}

.videoWrapper, .formWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.formWrapper {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  max-width: 450px;
  width: 100%;
  padding: 30px;
  padding-top: 80px;
  background: rgba(27, 26, 26, 0.85); /* Opcional: para mejor contraste */
  
  @media (max-width: 48em) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 50px;
}

#boton_claroscuro{
  display: flex;
  position: absolute;
}