button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.formulario {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: rgb(86, 106, 161);
  border-radius: 10px;
  margin-top: 100px;
}

.formulario h2, .formulario h3 {
  margin-bottom: 0.5rem;
  color: #0f0f0f;
}

.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin: 0.5rem 0;
  padding-right: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.formulario button {
  padding: 10px 20px;
  background: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
