#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* 
.contenedor_backend {
  display: flex;
  max-height: 100vh;
}

.contenido {
  max-height: 100vh;
  overflow: scroll;
} */
 .contenedor_backend {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden; /* Evita scroll en el contenedor principal */
}

.contenido {
  flex: 1;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto; /* Solo el contenido tiene scroll vertical */
}

.navbar {
  width: 250px; /* o el ancho que prefieras */
  min-width: 200px;
  height: 100vh;
  background: #f5f5f5; /* ejemplo de color */
  /* otros estilos */
}

.mantine-Modal-inner {
  transform: translate(-50%);
  top: 0%;
  left: 50%;
  height: 100vh;
  width: 100vh;
}